//  Imports
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//  Variables
$teal-color: #01A1A1;
$orange-color:#EE8007;
$webdock-green:#018971;
$dark-green:#008661;
$dark-grey-background:#2C404A;
$grey:#666666;
$dark-grey:#333333;


html { scroll-behavior: smooth; } 
//  Clear
*{
    margin:0;
    padding:0;
    font-family: 'Raleway', sans-serif;
    color: white;
    box-sizing: border-box;
    // background-color: black;
}
// Rules
h1{
    font-size: 35px;
    font-weight: 400;
}

h2{
    font-size: 25px;
    font-weight: 300;
}

h3{
    font-weight: 200;
}

h4{
    font-weight: 100;

}

hr{
    border:1px solid $teal-color;
  }

.ignore{
    height: 68px;
    background-color:$webdock-green;
  
    h2{
      font-size: 30px;
      text-align: center;
      padding-top:30px;
      background-color:$webdock-green;
    }
  
  }
  .footer-replacement{
    height: 300px;
    background-color:$dark-grey;

    h2{
        background-color:$dark-grey;
    }
  }

  .content{
    height: 135vh;
    background-image: url(/src/assets/img/awbck.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  header{
    text-align: center;
   
    h1{
      width: 50%;
      margin: auto;
      padding:40px;
    }
    img{
      margin: 40px;
    }
  
  }




// Midterstykke
.config-section{
    height: 800px; 
    padding-top:100px;

        h1{
            text-align: center;
        }
}
.config-section-inner{
    width: 80%; 
    margin: auto; 
    display: flex; 
    justify-content: space-between;

    a{
        text-decoration: none;
        height: 100px;
    }
    a:hover{

        .config-section-inner-option{
            background-color:$webdock-green;
        }
    }

}

.config-section-inner-option{
    height: 100px; 
    width: 200px; 
    border:3px solid $teal-color;
    border-radius: 10px;
    background-color:$dark-grey-background;
    text-align: center;

    h3{
        margin-top: 10px;
    }
}

.config-ection-inner-image{
    width: 70%;
    height: 500px;
    background-image: url(/src/assets/img/server-placeholder.png);
    background-repeat:no-repeat;

    background-position: center;

}

.option-midt{
margin-top: -150px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 850px;
    height: 600px;
    background-color:$dark-grey-background;
    border-radius: 10px;
    border: 3px solid $orange-color;
  
    a{

        background-color:$orange-color;
        padding:1%;
        width: 70px;
        height: 30px;
        border-radius: 10px;
        text-align: center;

        &:hover{
            background-color: #cd6b03;
        }
    }

.modal-inner{
    display: flex;
    justify-content: space-between;
}
    
  }

  .DD-box{
    display: flex;
    justify-content: center;
    padding-top:50px;
  }
  .dropdown-btn {
    background-color: $orange-color;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
  }
  
  .dropdown {
    position: relative;
    display: inline;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: $dark-grey-background;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 0px 0px 10px 10px;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
   
    
  }
  
  .dropdown-content a:hover {background-color: $orange-color}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropdown-btn {
    border-radius: 10px 10px 0px 0;
  }


  .content--container {
    background-color: #2C404A;
    display: flex;
    height: 705px;
    width: 100%;
  
    &__checklist {
      // background-color: red;
      justify-content: center;
      padding-top: 6.5em;
      width: 50%;
  
      .checkout-box {
        border: 1px solid white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: fit-content;
        margin: 0 auto;
        width: 700px;
  
        .checkout-box-header {
          background-color: #EE8007;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          height: 50px;
          width: 100%;
  
          h2 {
            font-weight: bold;
            padding-left: 0.7em;
            padding-top: 8px;
          }
        }
  
        .checkout-box-content {
          background-color: #018971;
          // border-bottom-left-radius: 10px;
          // border-bottom-right-radius: 10px;
          // height: 175px;
          width: 100%;
        }
      }
  
    .total-cost-box {
      // background-color: green;
      margin: 0 auto;
      margin-top: 5em;
      width: 700px;
      .total-cost-title {
        font-weight: bold;
        // margin-left: 0.7em;
        margin-top: 1em;
      }
  
      .total-wrapper {
        display: flex;
        .total-cost {
        background-color: #333333;
        border: 2px solid #EE8007;
        border-radius: 10px;
        height: 60px;
        // margin-left: 0.7em;
        margin-top: 1em;
        width: 275px;
  
        h3 {
          font-size: 30px;
          padding-top: 10px;
          text-align: center;
        }
      }
  
      .checkout-btn {
        background-color: #01A1A1;
        border-radius: 10px;
        height: 60px;
        margin-left: 9em;
        margin-top: 1em;
        width: 275px;
  
        h3 {
          font-size: 30px;
          font-weight: bold;
          padding-top: 10px;
          text-align: center;
        }
      }
      .checkout-btn:hover {
        cursor: pointer;
        background-color: #018585;
      }
      }
  
      p {
        margin-top: 0.5em;
      }
    }
  
  
  
    }
  
    &__checkinfo {
      padding-top: 6.5em;
      width: 50%;
  
      .text-wrapper {
        // background-color: #EE8007;
        height: 500px;
        padding-left: 3em;
        width: 90%;
  
        h1 {
          padding-top: 0.2em;
        }
  
        h2 {
          font-weight: 300;
          margin-top: 1.6em;
        }
  
        h3 {
          margin-top: 2em;
        }
      }
    }
  }
