//  Imports
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//  Variables
$teal-color: #01A1A1;
$orange-color:#EE8007;
$webdock-green:#018971;
$dark-green:#008661;
$dark-grey-background:#2C404A;
$grey:#666666;
$dark-grey:#333333;

//  Clear
*{
    margin:0;
    padding:0;
    font-family: 'Raleway', sans-serif;
    color: white;
    // background-color: black;
}
// Rules
h1{
    font-size: 35px;
    font-weight: 400;
}

h2{
    font-size: 25px;
    font-weight: 100;
}

h3{

}

h4{

}

hr{
    border:1px solid $teal-color;
  }

.ignore{
    height: 68px;
    background-color:$webdock-green;
  
    h2{
      font-size: 30px;
      text-align: center;
      padding-top:30px;
      background-color:$webdock-green;
    }
  
  }
  .footer-replacement{
    height: 300px;
    background-color:$dark-grey;

    h2{
        background-color:$dark-grey;
    }
  }

  .content{
    height: 1500px;
    background-color: black;
  }






// Midterstykke
.config-section{
    background-color: black; 
    height: 800px; 
    padding-top:100px;
}
.config-section-inner{
   
    width: 70%; 
    margin: auto; 
    display: flex; 
    justify-content: space-between;
}

.config-section-inner-option{
    height: 100px; 
    width: 200px; 
    border:3px solid $teal-color;
    border-radius: 10px;
    background-color:$dark-grey-background;

    h2{
        text-align: center;
    }
}

.config-ection-inner-image{
    height:500px; 
    width:700px; 
    background-image: url(../assets/img/server-placeholder.png);
    background-repeat:no-repeat;
}

.option-midt{
    margin-top:-200px
}
.option-top{

}

